<form
    (submit)="onUpdatePost()"
    class="col-sm-6 border p-3 mb-3"
    [formGroup]="postForm"
>
    <h3>Edit Post</h3>
    <hr />
    <div class="mb-3">
        <label for="">Title</label>
        <input
            type="text"
            name="title"
            class="form-control"
            placeholder="Title"
            formControlName="title"
        />
    </div>
    <div class="mb-3">
        <label for="">Description</label>
        <textarea
            name="description"
            class="form-control"
            placeholder="Description"
            formControlName="description"
        ></textarea>
    </div>
    <div class="mb-3">
        <div
            *ngIf="
                postForm.get('title')?.touched && postForm.get('title')?.errors
            "
        >
            Title :
            <small class="mb-3 text-danger">
                {{ postForm.get("title")?.errors | json }}
            </small>
        </div>
        <hr />
        <div
            *ngIf="
                postForm.get('description')?.touched &&
                postForm.get('description')?.errors
            "
        >
            Description :
            <small class="mb-3 text-danger">
                {{ postForm.get("description")?.errors | json }}
            </small>
        </div>
    </div>
    <div>
        <button
            class="btn btn-success"
            style="margin-right: 3vh"
            [disabled]="postForm.invalid"
        >
            Save changes
        </button>
        <button class="btn btn-outline-danger" [routerLink]="['/post']">
            Cancel
        </button>
    </div>
</form>
