<h4>Posts List ({{ postsCount$ | async }})</h4>
<hr />
<div>
    <div class="">
        <a
            class="btn btn-outline-primary text-nowrap mb-3"
            [routerLink]="['/post/add']"
            >Add Post</a
        >
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
    <table class="table table-light">
        <thead class="">
            <tr>
                <th>No</th>
                <th>Title</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <div
            *ngIf="isPostLoading$ | async"
            style="position: absolute; left: 50%"
        >
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status"></div>
            </div>
        </div>
        <tbody *ngIf="(posts$ | async) && !(isPostLoading$ | async)">
            <tr *ngIf="!(posts$ | async)?.length">
                <td colspan="4">
                    <div class="alert alert-danger text-center">
                        No Data Available
                    </div>
                </td>
            </tr>
            <tr *ngFor="let post of posts$ | async">
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.description }}</td>
                <td class="text-nowrap">
                    <button
                        class="btn btn-outline-primary btn-sm custom-gap"
                        [routerLink]="['edit', post.id]"
                    >
                        <i class="bi bi-pencil-square"></i>
                    </button>
                    <button
                        class="btn btn-outline-secondary btn-sm custom-gap"
                        [routerLink]="['details', post.id]"
                    >
                        <i class="bi bi-box-arrow-up-right"></i>
                    </button>
                    <button
                        class="btn btn-danger btn-sm ml-2"
                        (click)="onDeletePost(post)"
                    >
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
